node_modules
dist
coverage
.git
.env
.env.*
!.env.example
*.md
!README.md
.claude
.cursorrules
artillery
tests
*.spec.ts
*.e2e-spec.ts
.vscode
.idea
data
logs
apm
loki-config.*.yml
promtail-config.yml
docker-compose.yml
