PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
NODE_EXPORTER_PORT=9100
LOKI_PORT=3100
PROMTAIL_PORT=9080
PUSHGATEWAY_PORT=9091
JAEGER_UI_PORT=16686
JAEGER_COLLECTOR_PORT=14268
OTLP_PORT=4318

NESTJS_METRICS_TARGET=app:8080
NODE_EXPORTER_TARGET="node-exporter:9100,<management-node-ip:port>,<app-server:port>"

GRAFANA_ADMIN_PASSWORD=admin
